@import url("animation.css");

/* base */
.ng-body {
    margin-bottom: 50px;
}
textarea {
    width: 100% !important; /*resize only vertical*/
    overflow: auto;
    resize: none; /*if field not be resize*/
}
input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
ul, ol {
    margin: 0;
}
ul li, ol li {
    list-style: outside none none;
}
.mt-50 {
    margin-top: 50px;
}
.mb-30 {
    margin-bottom: 50px;
}


/* top bar */
.top-menu {
    margin-top: 20px;
    position: relative;
}
.top-menu img {
    max-width: 70px;
}
.top-menu .large-2 {
    text-align: center;
}
.top-menu .sign-in {
    float: right;
    margin-top: 19px;
    font-weight: bold;
    text-transform: uppercase;
}
.top-menu .sub-nav {
    display: inline-block;
    margin-top: 12px;
}
.sign-in .fa {
    margin-right: 5px;
}
.sub-nav dd a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}
.fixed {
    background-color: #ffffff;
    border-bottom: 4px solid #000000;
    margin: 0 auto;
    padding: 0 0 12px;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* login */
.login-page {
    margin-top: 50px;
}
.login-page .error {
    margin-bottom: 0;
}
.login-page .button {
    width: 100%;
}
.login-submit .large-6 {
    padding: 0 22px;
    margin-top: 20px;
}
.new-account .login-field {
    padding-left: 0.7em;
}
.new-account .password-fields {
    padding: 0 0.9em;
}
.new-account .create-account {
    padding: 0 2.3em;
}
.check-data {
    color: #c10f0f;
    font-size: 20px;
    text-align: center;
}

.account-welcome {
    font-size: 11px;
    position: absolute;
    right: 33px;
    top: -10px;
}
.account-login {
    color: #2ba6cb;
    font-weight: bold;
}

/* language */
.app-language {
    position: relative;
    margin-top: 19px;
}
.list-language {
    display: none;
}
.current-language {
    display: block;
    width: 35px;
}
.current-language > img {
    max-width: 100%;
    height: auto;
    display: block;
}
.app-language:hover .list-language {
    background-color: white;
    border-bottom: 4px solid #000000;
    display: block;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-left: 94%;
    padding-top: 20px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 23px;
    width: 280px;
    z-index: 2;
}
.lang {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}
.lang:hover {
    text-decoration: underline;
}
.lang > img {
    display: inline-block;
    height: auto;
    margin-right: 10px;
    width: 40px;
}

/* animation for logo */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

/* home slider */
.wallop-slider {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.wallop-slider__list {
    list-style: none;
    position: relative;
    overflow: hidden;
}

.wallop-slider__item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.wallop-slider__item img {
    display: block;
    width: 100%;
}

.wallop-slider__item--current {
    display: block;
    position: static;
}
.wallop-slider__btn {
    position: absolute;
    top: 49%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
.wallop-slider__btn:hover {
    background-color: #ffffff;
}
.wallop-slider__btn .arrow-left {
    background-image: url('../../public/image/arrow-left.png');
    display: block;
    width: 35px;
    height: 51px;
}
.wallop-slider__btn[disabled] {
    background-color: #ffffff;
    opacity: 0.3;
    cursor: default;
}
.wallop-slider__btn .arrow-right {
    background-image: url('../../public/image/arrow-right.png');
    display: block;
    width: 35px;
    height: 51px;
}
.wallop-slider__btn--next {
    right: 0;
}
.wallop-slider__btn--previous {
    left: 0;
}
.slider-price {
    bottom: 5%;
    font-size: 40px;
    left: 20%;
    position: absolute;
}
/*==========  SPECIAL CONFIG  ==========*/
.wallop-slider--rotate .wallop-slider__item--hide-previous,
.wallop-slider--rotate .wallop-slider__item--hide-next {
    display: block;
}
.wallop-slider--rotate .wallop-slider__item--hide-previous {
    -webkit-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -moz-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -ms-animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: rotateToLeft 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.wallop-slider--rotate .wallop-slider__item--hide-next {
    -webkit-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -moz-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    -ms-animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: rotateToRight 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}


/* comments */
/*=======================================*/
.count-comments {
    border-bottom: 4px solid #2ba6cb;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: bold;
}
.name-comments {
    display: block;
    font-weight: bold;
    color: #2ba6cb;
}
.list-comments {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}
.remove-comment {
    display: block;
    font-size: 11px;
    margin-top: 5px;
}
.date-comments {
    font-size: 11px;
    margin-left: 15px;
    color: #cbcbcb;
}
