<div class="row mt-50" ng-controller="commentsCtrl">
    <div class="columns">

        <div id="countOfComments" class="count-comments">{{'COMMENTS' | translate}} ({{counts()}})</div>

        <form name="formComments" novalidate>
            <input type="text" ng-model="yourName" ng-minlength="1" placeholder="{{'COM_NAME' | translate}}" required/>
            <textarea ng-model="yourThoughts" ng-minlength="2" placeholder="{{'COM_TEXTAREA' | translate}}" required></textarea>
            <button type="submit" ng-click="addComments()" ng-disabled="formComments.$invalid">{{'SUBMIT' | translate}}</button>
        </form>

        <ul>
            <li class="list-comments" ng-repeat="(name, thoughts) in commentsData">
                <span class="name-comments done-comments">{{name}}</span>
                <span class="thoughts-comments">{{thoughts}}</span>
            </li>
        </ul>

    </div>
</div>
