<!-- top menu -->
<div top-bar scroll ng-class="{fixed: scrollFun}"></div>

<div class="row new-account mt-50" ng-controller="newAccountCtrl">
    <form name="newAccount" novalidate>

        <div class="large-4 large-offset-2 columns">
            <input type="text" placeholder="{{'FIRSTNAME' | translate}}" ng-model="firstNameAccount" ng-minlength="2" required/>
        </div>

        <div class="large-4 columns">
            <input type="text" placeholder="{{'LASTNAME' | translate}}" ng-model="lastNameAccount" ng-minlength="2" required/>
        </div>

        <div class="row login-field">
            <div class="large-3 large-offset-2 columns">
                <input type="text" class="" placeholder="{{'LOGIN' | translate}}" ng-model="loginAccount" ng-minlength="2" required/>
            </div>
        </div>

        <div class="row password-fields">
            <div class="large-4 large-offset-2 columns">
                <input type="password" class="" placeholder="{{'PASSWORD' | translate}}" ng-model="passwordAccount" ng-minlength="6" required/>
            </div>
            <div class="large-4 columns end">
                <input type="password" class="" placeholder="{{'CONFIRMPASSWORD' | translate}}" ng-model="confirmPasAccount" ng-minlength="6" required/>
            </div>
        </div>

        <div class="row create-account">
            <button type="submit" class="large-8 large-offset-2 columns button success" ng-click="createAccount()" ng-disabled="newAccount.$invalid">{{'CREATE' | translate}}</button>
        </div>
    </form>
</div>